
body {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
}

.section {
  background-color: rgb(27, 27, 27);
  color: rgb(151, 150, 150);
  padding: 50px 0;
}

.aboutImage {
  max-width: 100%;
}


.skill {
  text-align: center;
  margin-left: 10px;
}

.skillsSection {
  justify-content: space-evenly;
}

.skill {
  flex-basis: 0;
}

.contactButton {
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.contactButton:hover {
  text-decoration: none;
  color: #ffff;
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(19, 146, 7, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  opacity: 0.7;
  transition: 0.3s;
}

.copyrightSection {
  background-color: #000;
  color: #fff;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}

#navigation {
  position: sticky;
  top: 0;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(15, 124, 5, 1) 0%,
    rgba(0, 90, 143, 1) 100%
  );
  padding: 20px 10px;
}

#navigation li {
  padding: 0 10px;
}

#navigation li a {
  color: #fff;
}

#navigation li a:hover {
  color: rgb(0, 57, 90);
  opacity: 0.6;
  transition: 0.3s;
}

.navbar-brand,
.navbar-brand:hover {
  color: #000;
}
